
 @model dynamic

<h1>Environment Information</h1>

<p>Environment data for registration number: @Model.registration_number</p>

<div id="environmentSection">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.environment.GetType().GetProperties())
            {
                <tr>
                    <td>@property.Name</td>
                    <td>@property.GetValue(Model.environment, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="@Url.Action("NummerPlate", "Home", new { registrationNumber = Model.registration_number })" class="btn btn-primary">Back to Vehicle Info</a>